<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>image0.jpg</string>
	<string>image1.jpg</string>
	<string>image2.jpg</string>
	<string>image3.jpg</string>
	<string>image4.jpg</string>
	<string>image5.jpg</string>
	<string>image6.jpg</string>
	<string>image7.jpg</string>
	<string>image8.jpg</string>
	<string>image9.jpg</string>
	<string>image10.jpg</string>
	<string>image11.jpg</string>
	<string>image12.jpg</string>
	<string>image13.jpg</string>
	<string>image14.jpg</string>
	<string>image15.jpg</string>
	<string>image16.jpg</string>
	<string>image17.jpg</string>
	<string>image18.jpg</string>
	<string>image19.jpg</string>
</array>
</plist>
